* {
    margin: 0;
    padding: 0;
    border: 0;
}
.contanier
{

    width: 1400px;
    height: 1088px;
}
.header
{
    background: url("../img/123.jpg");
    width: 1400px;
    height: 520px;

}
.headerTop
{
    width:1001px;
    height: 120px;
    background: white;
    margin: 0 199px;
}
.logo
{

    width: 255px;
    height: 100%;
    margin: auto 729px auto auto;
    padding-top: 29px ;
}


.headerTop ul
{
    float:right;
    margin: 85px 18px auto auto;
    color:#668333


}
.headerTop li
{
    display: inline;
    font-family: proximanovacond-regular;
    font-size: 17px;
    padding: 20px;
    margin: 85px 18px auto auto;
    padding-left: 10px;


}
.header a
{
    color: #668333;
    text-decoration: none;
}
.header a:hover
{
    color:  #58a0b4;
}

.text
{
    color: #668333;
}
.headerButtom
{
    width: 452px;
    height: 157px;
    background:rgba(70,149,171,0.75);
    margin: 205px auto auto 199px;

}

.headerButtom p
{
    color:#ebf2f4;
    margin: 25px auto 25px  19px;
    padding-top: 25px;
    font-size: 35px;
    font-family: proximanovacond-regular;
}
.board1
{
    width: 319px;
    height: 200px;
    background: url("../img/fee.jpg");
    float: left;
    margin:29px 20px auto 200px;



}
.board2
{
    width: 319px;
    height: 200px;
    background: url("../img/234.jpg");
    float:left;
    margin:29px 20px auto auto;

}
.board3
{
    width: 319px;
    height: 200px;
    background: url("../img/245.jpg");
    float: left;
    margin:29px 20px auto auto;

}
.board1, .board2, .board3
{
    font-family: proximanova-bold;
    color: white;

}
.board1 h1, .board3 h1
{
    padding-top: 102px;
    padding-left: 132px;
    font-size: 45px;
    text-shadow: -2px -2px #908f8f,
    0 1px 0 #605f5f;
    color: white;
    transition: all 1s;
    font-family: proximanova-bold;

}
.board2 h1 {
    padding-top: 102px;
    padding-left: 27px;
    font-family: proximanova-bold;
    font-size: 50px;
    text-shadow: -2px -2px #908f8f,
    0 1px 0 #605f5f;

    transition: all 1s;
}
.allBoards{
    padding-top: 38px;
}
.text1{
    position: absolute;
    top: 800px;
    left: 200px;
    padding-bottom: 30px;
}
.text1 h1{
    font-family: proximanova-regular;
    font-size: 40px;
    color: #4999af;
    border-bottom: 1px solid #d2cdc9;
    width: 780px;
    padding-bottom: 25px;
    text-shadow: -2px -2px #80aab4,
    0 1px 0 #65a6c6;
}
.text1 p{
    font-family: proximanova-regular;
    font-size: 40px;
    color: #a3a09e;
    padding-top: 25px;
    border-bottom: 1px solid #d2cdc9;
    padding-bottom: 25px;
    width: 800px;
}
