* {
    margin: 0;
    padding: 0;
    border: 0;
}
.contanier
{

    width: 1400px;
    height: 1088px;
}
.header
{
    background: url("../img/123.jpg");
    width: 1400px;
    height: 520px;

}
.headerTop
{
    width:1001px;
    height: 120px;
    background: white;
    margin: 0 199px;
}
.logo
{

    width: 255px;
    height: 100%;
    margin: auto 729px auto auto;
    padding-top: 29px ;
}


.headerTop ul
{
    float:right;
    margin: 85px 18px auto auto;
    color:#668333


}
.headerTop li
{
    display: inline;
    font-family: proximanovacond-regular;
    font-size: 17px;
    padding: 20px;
    margin: 85px 18px auto auto;
    padding-left: 10px;


}
.header a
{
    color: #668333;
    text-decoration: none;
}
.header a:hover
{
    color:  #58a0b4;
}

.text
{
    color: #668333;
}
.headerButtom
{
    width: 452px;
    height: 157px;
    background:rgba(70,149,171,0.75);
    margin: 205px auto auto 199px;

}

.headerButtom p
{
    color:#ebf2f4;
    margin: 25px auto 25px  19px;
    padding-top: 25px;
    font-size: 35px;
    font-family: proximanovacond-regular;
}
.board1
{
    width: 319px;
    height: 200px;
    background: url("../img/fee.jpg");
    float: left;
    margin:29px 20px auto 200px;



}
.board2
{
    width: 319px;
    height: 200px;
    background: url("../img/234.jpg");
    float:left;
    margin:29px 20px auto auto;

}
.board3
{
    width: 319px;
    height: 200px;
    background: url("../img/245.jpg");
    float: left;
    margin:29px 20px auto auto;

}
.board1, .board2, .board3
{
    font-family: proximanova-bold;
    color: white;
}
.board1 h1, .board3 h1
{
    padding-top: 102px;
    padding-left: 132px;
    font-size: 45px;
    text-shadow: -2px -2px #908f8f,
    0 1px 0 #605f5f;
    color: white;
    transition: all 1s;
    font-family: proximanova-bold;

}
.board2 h1 {
    padding-top: 102px;
    padding-left: 27px;
    font-family: proximanova-bold;
    font-size: 50px;
    text-shadow: -2px -2px #908f8f,
    0 1px 0 #605f5f;

    transition: all 1s;
}
.bottom1
 {
     background:rgba(29, 129, 143, 0.6);
     width: 263px;
     height: 47px;
     margin: 6px 0 0 56px;
 }
.bottom2
{
    background:rgba(118, 139, 74, 0.6);
    width: 263px;
    height: 47px;
    margin: auto 0 0 auto;
}

.bottom1 h4, .bottom2 h4
{
    font-family:proximanova-regular;
    padding-top: 15px;
    font-size: 20px;
    padding-left: 15px;

}
.bottom3
{
    background: rgba(235, 132, 117, 0.6);
    width: 263px;
    height: 47px;
    margin: 6px 0 0 56px;
}
.bottom3 h4
{
    padding-top:15px;
    padding-left: 15px;
    font-size: 20px;
    font-family: proximanova-regular;

}
.allBoards
{
    width: 1400px;

}
.wini {
    width: 475px;
    margin:10px auto auto  200px;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d2cdc9;



}

 .wini h1
{

     font-family: proximanova-regular;
     color: #4999af;
     font-size: 30px;



}
.winni
{
    width: 475px;
    position: absolute;
    top: 860px;
    left: 200px;

}
.winni h1 ,.winni h4
{
    color: #7d9356;
    font-family: proximanova-regular;


}
.winni h1
{
    font-size: 40px;
}
.winni h4
{
    font-size: 20px;
}
.winni h2
{

    font-family: proximanova-regular;
    position: absolute;
    top:10px;
    left:60px;
    font-size: 22px ;
    lench:230px;
    color: #f1715e;

}
.winni p
{
    position:absolute;
    top: 30px;
    left: 60px;
    font-size: 20px;
    font-family: proximanova-regular;


}

.winni input
{
    position: absolute;
    top: 10px;
    left: 375px;
}



.winnni
{
    width: 475px;
    position: absolute;
    top: 960px;
    left: 200px;
    border-top: 1px solid #d2cdc9;



}
.winnni h1 ,.winnni h4
{
    color: #7d9356;
    font-family: proximanova-regular;


}
.winnni h1
{
    font-size: 40px;
}
.winnni h4
{
    font-size: 20px;
}
.winnni h2
{

    font-family: proximanova-regular;
    position: absolute;
    top:10px;
    left:60px;
    font-size: 22px ;
    lench:230px;
    color: #f1715e;

}
.winnni p
{
    position:absolute;
    top: 30px;
    left: 60px;
    font-size: 19px;
    font-family: proximanova-regular;
}
.winnni input
{
    position: absolute;
    top: 10px;
    left: 375px;
}

.vini
{
    width: 475px;
    position: absolute;
    top: 1060px;
    left: 200px;
    padding-bottom: 25px;
    border-top: 1px solid #d2cdc9;


}
.vini h1 ,.vini h4
{
    color: #7d9356;
    font-family: proximanova-regular;



}
.vini h1
{
    font-size: 40px;


}
.vini{
    font-size: 20px;
}
.vini h2
{

    font-family: proximanova-regular;
    position: absolute;
    top:10px;
    left:60px;
    font-size: 22px ;
    lench:230px;
    color: #f1715e;

}
.vini p
{
    position:absolute;
    top: 30px;
    left: 60px;
    font-size: 19px;
    font-family: proximanova-regular;
}
.vini input
{
    position: absolute;
    top: 10px;
    left: 375px;
}
.botton2
{
    position: absolute;
    top:780px;
    left: 720px;
    height: 300px;
    font-family: proximanovacond-regular;
    width: 400px;
}
.title2 h1
{

    font-family: proximanova-regular;
    color: #4999af;
    font-size: 30px;
    position: absolute;
    top: 0;
    left:0;
}

#first
{
    position: absolute;
    top:70px;
    left:0;
    font-size: 18px;

}

#second
{
    position: absolute;
    top:170px;
    left:0;
    font-size: 18px;


}
.botton2 a
{
    position: absolute;
    top: 290px;
    left: 0;
    color: #f1715e;
    font-family:  serif;
    text-decoration: none;
}
.botton2 a:hover
{
    color:#58a0b4;
}

